* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("wallpaper.jpg");
  /* thanks! http://wallpaperswide.com/moonlight_night-wallpapers.html */
}

@keyframes pattern0 {
  from { transform: translate(3px,3px); }
  to   { transform: translate(-5px,-3px); }
}

@keyframes pattern1 {
  from { transform: translate(-3px,3px); }
  to   { transform: translate(5px,-3px); }
}

@keyframes pattern2 {
  from { transform: translate(4px,7px); }
  to   { transform: translate(-4px,1px); }
}

@keyframes pattern3 {
  from { transform: translate(-2px,4px); }
  to   { transform: translate(7px,-2px); }
}

@-webkit-keyframes pattern0 {
  from { -webkit-transform: translate(3px,3px); }
  to   { -webkit-transform: translate(-5px,-3px); }
}

@-webkit-keyframes pattern1 {
  from { -webkit-transform: translate(-3px,3px); }
  to   { -webkit-transform: translate(5px,-3px); }
}

@-webkit-keyframes pattern2 {
  from { -webkit-transform: translate(4px,7px); }
  to   { -webkit-transform: translate(-4px,1px); }
}

@-webkit-keyframes pattern3 {
  from { -webkit-transform: translate(-2px,4px); }
  to   { -webkit-transform: translate(7px,-2px); }
}


.box {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  transition-property : top, left;
  transition-duration : 5s;
  transition-timing-function : cubic-bezier(.70,-0.40,0.2,1.20);
  background: radial-gradient(circle,
                              white 0%,
                              white 9%,
                              rgba(64,64,255,1) 15%,
                              rgba(64,64,255,0) 100%);
  border-radius: 50%;
}

table#board {
  margin: 550px auto 0;
  font-family: sans-serif;
  font-size: 16pt;
  padding: 12px;
}

table#board td {
  margin: 3px;
  width: 48px;
  height: 24px;
  color: #ddd;
  font-size: 16pt;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.6);
  transition-property : background;
  transition-duration : 4s;
  transition-timing-function : cubic-bezier(.85,.01,.85,.01) 
}

table#board th {
  background-color: rgba(255,0,0,0.9);
  margin: 3px;
  width: 48px;
  height: 24px;
  color: white;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  display: inline-block;
  white-space: nowrap;
  border-radius: 50%;
}

